---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$morning-blue: #99aca8;
$eggshell: #f0ead6;
$black: black;
$onyx: lighten($black, 25%);

* {
    box-sizing: border-box;
}

h1 {
    font-family: 'Marck Script', cursive;
    font-size: 55px;
    margin-top: 0;
    margin-bottom: 20px;
}

h2, h3, h4, h5, h6 {
    font-family: 'Josefin Slab', serif;
    margin-top: 0;
}

h2 {
    text-decoration: underline;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin: 0;
    background-color: $morning-blue;
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
}

a {
    color: $onyx;
}

header {
    padding: 20px;
    background-color: $eggshell;

    .logo {
        position: absolute;
        top: 36px;
        right: 20px;

        @media screen and (max-width: 800px) {
            position: static;
            margin-top: 18px;
            margin-left: 50px;
            margin-bottom: 10px;
        }
    }

    .subtitle {
        font-family: 'Josefin Slab', serif;
        font-size: 25px;
        margin-top: -15px;
        margin-bottom: 8px;
        margin-left: 50px;
    }
}

nav#site-navigation {
    padding: 20px;
    background-color: $black;
    font-family: 'Josefin Slab', serif;
    font-size: 27px;
    font-weight: 700;
    color: $eggshell;

    ul, li {
        display: inline;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li {
        margin-right: 20px;
    }

    a {
        color: inherit;
    }
}

hr {
    border-width: 2px;
    border-style: solid;
    margin-top: 0;
    margin-bottom: 20px;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

#episode-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin-top: 20px;
    margin-bottom: 20px;

    .episode {
        margin: 10px;
        background-color: $morning-blue;
        border: 2px solid $onyx;
        border-radius: 10px;
        overflow: hidden;
        width: calc(100% / 3 - 24px);

        @media screen and (max-width: 1060px) {
            width: calc(100% / 2 - 24px);
        }

        @media screen and (max-width: 720px) {
            width: 100%;
        }

        .header {
            padding: 10px;

            img {
                width: 100%;
            }

            h2 {
                margin-bottom: 5px;
                font-size: 23px;
            }
        }

        .player {
            background-color: darken($morning-blue, 15%);
            color: $black;
            padding: 10px;

            .amplitude-current-time {
                float: left;
                font-size: 14px;
            }

            .amplitude-time-remaining {
                float: right;
                font-size: 14px;
            }

            .amplitude-song-slider {
                display: block;
                width: 100%;
                height: 15px;
                margin-top: 20px;
                margin-bottom: 10px;
                margin-left: 0;
                -webkit-appearance: none;
                outline: none;
                background: transparent;
                cursor: pointer;

                &::-webkit-slider-runnable-track {
                    height: 4px;
                    background: $onyx;
                    border: none;
                }

                &::-moz-range-track {
                    height: 4px;
                    background: $onyx;
                    border: none;
                }

                &::-ms-track {
                    height: 4px;
                    background: $onyx;
                    border: none;
                }

                &::-webkit-slider-thumb {
                    -webkit-appearance: none;
                    background: $onyx;
                    width: 15px;
                    height: 15px;
                    margin-top: -6px;
                    border-radius: 10px;;
                    border: none;
                }

                &::-moz-range-thumb {
                    background: $onyx;
                    width: 15px;
                    height: 15px;
                    border-radius: 10px;;
                    border: none;
                }

                &::-ms-thumb {
                    background: $onyx;
                    width: 15px;
                    height: 15px;
                    margin-top: 0;
                    border-radius: 10px;;
                    border: none;
                }
            }

            .amplitude-play-pause {
                color: $eggshell;
                background-color: $onyx;
                border: none;
                width: 40px;
                height: 40px;
                border-radius: 20px;
                font-size: 17px;
                outline: none;
                cursor: pointer;

                &.amplitude-paused {
                    .fas::before {
                        content: '\f04b';
                        padding-left: 3px;
                    }
                }

                &.amplitude-playing {
                    .fas::before {
                        content: '\f04c';
                    }
                }
            }

            .skip {
                color: $eggshell;
                background-color: $onyx;
                border: none;
                width: 30px;
                height: 22px;
                border-radius: 5px;
                margin-left: 10px;
                margin-right: 10px;
                outline: none;
                cursor: pointer;
            }

            .amplitude-playback-speed {
                color: $eggshell;
                background-color: $onyx;
                border: none;
                width: 40px;
                height: 20px;
                border-radius: 5px;
                font-size: 14px;
                margin-left: 20px;
                outline: none;
                cursor: pointer;

                &.amplitude-playback-speed-10 {
                    .speed::before {
                        content: 'x1.0';
                    }
                }

                &.amplitude-playback-speed-15 {
                    .speed::before {
                        content: 'x1.5';
                    }
                }

                &.amplitude-playback-speed-20 {
                    .speed::before {
                        content: 'x2.0';
                    }
                }
            }

            .volume {
                float: right;
                width: 30%;
                margin-top: 7px;

                .fas {
                    float: left;
                    font-size: 15px;
                    margin-top: 5px;
                }

                .amplitude-volume-slider {
                    float: right;
                    height: 15px;
                    width: calc(100% - 25px);
                    margin-top: 5px;
                    margin-left: 0;
                    -webkit-appearance: none;
                    background: transparent;
                    outline: none;
                    cursor: pointer;

                    &::-webkit-slider-runnable-track {
                        height: 4px;
                        background: $onyx;
                        border: none;
                    }

                    &::-moz-range-track {
                        height: 4px;
                        background: $onyx;
                        border: none;
                    }

                    &::-ms-track {
                        height: 4px;
                        background: $onyx;
                        border: none;
                    }

                    &::-webkit-slider-thumb {
                        -webkit-appearance: none;
                        background: $onyx;
                        width: 15px;
                        height: 15px;
                        margin-top: -6px;
                        border-radius: 10px;;
                        border: none;
                    }

                    &::-moz-range-thumb {
                        background: $onyx;
                        width: 15px;
                        height: 15px;
                        border-radius: 10px;;
                        border: none;
                    }

                    &::-ms-thumb {
                        background: $onyx;
                        width: 15px;
                        height: 15px;
                        margin-top: 0;
                        border-radius: 10px;;
                        border: none;
                    }
                }
            }
        }
    }
}

#text-panel {
    background-color: $eggshell;
    max-width: 1000px;
    width: 1000px;
    border-radius: 10px;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 20px;
    margin-bottom: 80px;

    @media screen and (max-width: 1500px) {
        width: 80%;
    }

    @media screen and (max-width: 1000px) {
        width: 100%;
        border-radius: 0;
        margin: 0;
    }

    time {
        font-size: 14px;
        font-style: italic;
    }

    p {
        line-height: 1.45;
        margin-top: 17px;
        margin-bottom: 17px;
    }

    p:first-child {
        margin-top: 0;
    }

    p:last-child {
        margin-bottom: 0;
    }

    &.post-list {
        h2 {
            font-size: 30px;
            margin-bottom: 40px;
        }

        ul#posts {
            list-style: none;
            padding-left: 0;
            margin: 0;

            li {
                margin-top: 20px;

                &:not(:first-child) {
                    border-top: 1px solid $black;
                    padding-top: 20px;
                    margin-top: 20px;
                }

                h3 {
                    font-size: 24px;
                    margin: 0;
                }

                .button {
                    display: inline-block;
                    color: $eggshell;
                    background-color: $onyx;
                    border: none;
                    border-radius: 5px;
                    font-size: 17px;
                    text-decoration: none;
                    outline: none;
                    cursor: pointer;
                    padding: 10px;
                    margin-top: 7px;
                }
            }
        }

        nav#pager {
            border-top: 1px solid $black;
            margin-top: 20px;

            ul {
                list-style: none;
                padding: 0;

                .previous {
                    display: inline-block;
                    float: left;
                }

                .next {
                    display: inline-block;
                    float: right;
                }
            }
        }
    }

    &.post {
        padding-top: 40px;
        padding-bottom: 80px;

        h1 {
            font-family: 'Josefin Slab', serif;
            font-size: 30px;
            line-height: 1.1;
            text-decoration: underline;
            margin: 0;
        }

        time {
            display: inline-block;
            margin-bottom: 40px;
        }

        p:has(img) {
            text-align: center;
        }

        img {
            max-width: 100%;
        }
    }
}
