<div class="container">
    <div id="episode-list">Loading...</div>
</div>
<script type="text/javascript">
    window.onload = loadEpisodes;

    async function loadEpisodes() {
        const episodeListDiv = document.querySelector('#episode-list');
        try {
            const response = await window.fetch('https://spiritsandtongues.libsyn.com/rss');
            if (response.ok) {
                const feedXml = await response.text();
                const feed = await new RSSParser().parseString(feedXml);
                renderEpisodes(feed.items, episodeListDiv);
                initializePlayer(feed.items);
            } else {
                showError(episodeListDiv);
            }
        } catch (error) {
            showError(episodeListDiv);
        }
    }

    function renderEpisodes(episodes, episodeListDiv) {
        episodeListDiv.innerHTML = '';
        for (let i = 0; i < episodes.length; i++) {
            renderEpisode(episodes[i], i, episodeListDiv);
        }
    }

    function renderEpisode(episode, index, episodeListDiv) {
        const episodeDiv = document.createElement('div');
        episodeDiv.className = 'episode';

        const headerDiv = document.createElement('div');
        headerDiv.className = 'header';
        episodeDiv.appendChild(headerDiv);

        const coverArt = document.createElement('img');
        coverArt.src = episode.itunes.image;
        headerDiv.appendChild(coverArt);

        const episodeTitle = document.createElement('h2')
        episodeTitle.innerText = episode.title;
        headerDiv.appendChild(episodeTitle);

        renderPlayer(episode, index, episodeDiv);

        episodeListDiv.appendChild(episodeDiv);
    }

    function renderPlayer(episode, index, episodeDiv) {
        const playerDiv = document.createElement('div');
        playerDiv.className = 'player';

        const currentTime = document.createElement('span');
        currentTime.className = 'amplitude-current-time';
        currentTime.setAttribute('data-amplitude-song-index', String(index));
        playerDiv.appendChild(currentTime);

        const timeRemaining = document.createElement('span');
        timeRemaining.className = 'amplitude-time-remaining';
        timeRemaining.setAttribute('data-amplitude-song-index', String(index));
        playerDiv.appendChild(timeRemaining);

        const songSlider = document.createElement('input');
        songSlider.setAttribute('type', 'range');
        songSlider.className = 'amplitude-song-slider';
        songSlider.setAttribute('data-amplitude-song-index', String(index));
        playerDiv.appendChild(songSlider);

        const skipBackButton = document.createElement('button');
        skipBackButton.className = 'skip';
        skipBackButton.innerHTML = '<i class="fas fa-undo-alt"></i>'
        skipBackButton.onclick = () => skipByAmount(index, -15);
        playerDiv.appendChild(skipBackButton);

        const playButton = document.createElement('button');
        playButton.className = 'amplitude-play-pause';
        playButton.setAttribute('data-amplitude-song-index', String(index));
        playButton.innerHTML = '<i class="fas"></i>';
        playerDiv.appendChild(playButton);

        const skipForwardButton = document.createElement('button');
        skipForwardButton.className = 'skip';
        skipForwardButton.innerHTML = '<i class="fas fa-redo-alt"></i>'
        skipForwardButton.onclick = () => skipByAmount(index, 15);
        playerDiv.appendChild(skipForwardButton);

        const playbackSpeedButton = document.createElement('button');
        playbackSpeedButton.className = 'amplitude-playback-speed';
        playbackSpeedButton.innerHTML = '<span class="speed"></span>'
        playerDiv.appendChild(playbackSpeedButton);

        const volumeDiv = document.createElement('div');
        volumeDiv.className = 'volume';
        playerDiv.appendChild(volumeDiv);

        const volumeIcon = document.createElement('i');
        volumeIcon.className = 'fas fa-volume-up';
        volumeDiv.appendChild(volumeIcon);

        const volumeSlider = document.createElement('input');
        volumeSlider.setAttribute('type', 'range');
        volumeSlider.className = 'amplitude-volume-slider';
        volumeDiv.appendChild(volumeSlider);

        episodeDiv.appendChild(playerDiv);
    }

    function initializePlayer(episodes) {
        const episodesList = [];
        for (const episode of episodes) {
            episodesList.push({url: episode.enclosure.url});
        }
        Amplitude.init({songs: episodesList});
    }

    function showError(episodeListDiv) {
        episodeListDiv.innerHTML = 'Unable to load episodes.';
    }

    function skipByAmount(songIndex, seconds) {
        let targetTime;
        if (Amplitude.getActiveIndex() === songIndex) {
            targetTime = Amplitude.getSongPlayedSeconds() + seconds;
        } else {
            targetTime = seconds;
        }
        Amplitude.skipTo(targetTime, songIndex)
    }
</script>