<div class="container">
    <div id="episode-list">Loading...</div>
</div>
<script type="text/javascript">
    window.onload = loadEpisodes;

    async function loadEpisodes() {
        const episodeListDiv = document.querySelector('#episode-list');
        try {
            const response = await window.fetch('https://spiritsandtongues.libsyn.com/rss');
            if (response.ok) {
                const feedXml = await response.text();
                const feed = await new RSSParser().parseString(feedXml);
                renderEpisodes(feed.items, episodeListDiv);
                initializePlayer(feed.items);
            } else {
                showError(episodeListDiv);
            }
        } catch (error) {
            showError(episodeListDiv);
        }
    }

    function renderEpisodes(episodes, episodeListDiv) {
        episodeListDiv.innerHTML = '';
        for (let i = 0; i < episodes.length; i++) {
            renderEpisode(episodes[i], i, episodeListDiv);
        }
    }

    function renderEpisode(episode, index, episodeListDiv) {
        const episodeDiv = document.createElement('div');
        episodeDiv.className = 'episode';

        const coverArt = document.createElement('img');
        coverArt.src = episode.itunes.image;
        episodeDiv.appendChild(coverArt);

        const episodeTitle = document.createElement('h3')
        episodeTitle.innerText = episode.title;
        episodeDiv.appendChild(episodeTitle);

        renderPlayer(episode, index, episodeDiv);

        const episodeSummary = document.createElement('span');
        episodeSummary.innerHTML = episode.content;
        episodeDiv.appendChild(episodeSummary);

        episodeListDiv.appendChild(episodeDiv);
    }

    function renderPlayer(episode, index, episodeDiv) {
        const playerDiv = document.createElement('div');
        playerDiv.className = 'player';

        const playButton = document.createElement('button');
        playButton.className = 'amplitude-play';
        playButton.setAttribute('data-amplitude-song-index', String(index));
        playButton.innerHTML = '<i class="fas fa-play"></i>';
        playerDiv.appendChild(playButton);

        const pauseButton = document.createElement('button');
        pauseButton.className = 'amplitude-pause';
        pauseButton.setAttribute('data-amplitude-song-index', String(index));
        pauseButton.innerHTML = '<i class="fas fa-pause"></i>';
        playerDiv.appendChild(pauseButton);

        episodeDiv.appendChild(playerDiv);
    }

    function initializePlayer(episodes) {
        const episodesList = [];
        for (const episode of episodes) {
            episodesList.push({url: episode.enclosure.url});
        }
        Amplitude.init({songs: episodesList});
    }

    function showError(episodeListDiv) {
        episodeListDiv.innerHTML = 'Unable to load episodes.';
    }
</script>