<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>{{page.title}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link href="https://fonts.googleapis.com/css?family=Josefin+Slab|Marck+Script|Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/fontawesome.min.css">
        <link rel="stylesheet" href="/css/solid.min.css">
    </head>
    <body>
        <main>
            <header>
                <h1 class="title">Spirits & Tongues</h1>
                <div class="subtitle">an incomplete list of my obsessions</div>
                <img class="logo" src="/images/logo.png" alt="Spirits and Tongues logo">
            </header>
            {{content}}
        </main>
        {% include scripts.html %}
    </body>
</html>
